body{
    background-image: url(https://i.pinimg.com/564x/4e/a3/de/4ea3deb98f3a418fed5c5d7f9e7a6048.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    ;
}

h1{ color: whitesmoke;
    display: flex;
    justify-content: center;
}


h3{ color: aliceblue;
    display: flex;
    justify-content: center; 
}

h4{color: aliceblue;
   display: flex;
   justify-content: center;
}
img{width: 400px;}

#thirddiv{
    height: 600px;
    width: 500px;
    background-color: aqua;
    padding: 50px;
    border: 60px blue solid;
    display: flex;
    justify-content: center;
}

#spanid{
    color: aliceblue;
    margin: 50px;
    display: flex;
    justify-content: center;
}
a{
    color: aliceblue;
    display: flex;
    justify-content: center;


